# ==========================================================
# Virtual Environment
# ==========================================================

venv/
.venv/
env/

# ==========================================================
# Python Cache
# ==========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# SQLite Databases
# ==========================================================

*.db
*.sqlite3

# ==========================================================
# PyTest Cache
# ==========================================================

.pytest_cache/

# ==========================================================
# Log Files
# ==========================================================

logs/
*.log

# ==========================================================
# Generated Reports
# ==========================================================

reports/*.png
reports/*.html

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# macOS
# ==========================================================

.DS_Store