# ==========================================================
# Virtual Environment
# ==========================================================

venv/
.venv/
env/

# ==========================================================
# Python Cache
# ==========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Log Files
# ==========================================================

logs/*.log

# ==========================================================
# Generated Reports
# ==========================================================

reports/*.png

# (Optional)
# reports/*.html

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# macOS
# ==========================================================

.DS_Store
*.db