<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ETL Report</title>
</head>

<body>

    <h2>ETL Pipeline Completed Successfully</h2>

    <p>The ETL process has completed successfully.</p>

    <ul>
        <li>Data extracted successfully</li>
        <li>Data transformed successfully</li>
        <li>Uploaded to Azure SQL Database</li>
        <li>Uploaded to Azure Blob Storage</li>
        <li>Sales chart generated</li>
    </ul>

    <p>Sales Chart:</p>

    <img src="cid:sales_chart" width="700">

</body>
</html>